* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box !important;
	font-family: 'Zen Kurenaido', sans-serif;
}
body > * {
	color: #e4e3e3;
}
#root {
	height: 100%;
	background-color: #26267a;
	background-image: linear-gradient(315deg, #000000cb 0%, #270627 74%);
	z-index: -99 !important;
}
::-webkit-scrollbar {
	width: 9px;
	height: 6px;
}
::-webkit-scrollbar-track {
	/* border-radius: 10px; */
	background: rgba(20, 17, 17, 0.651);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(134, 8, 8, 0.699);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(134, 8, 8, 0.699);
}
::-webkit-scrollbar-thumb:active {
	background: rgb(63, 63, 63);
}

/* sign in error */
